{
	admin off
	auto_https off
}

:80 {
	handle /api/* {
		reverse_proxy backend:3001
	}

	handle /nodered/* {
		reverse_proxy nodered:1880
	}

	handle /adminer/* {
		reverse_proxy adminer:8080
	}

	handle /mqtt/* {
		reverse_proxy mosquitto:9001
	}
}